# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# build outputs
/.next/
out/
build/
coverage/

# env files (keep secrets safe)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*.local

# sample env file should be committed
!.env.sample
!.env.example

# misc
.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# vercel deployment
.vercel
